@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>System zarządzania bilioteką</p>
    <p>Dawid Leśniak i Kacper Tomera © 2026</p>
</div>
